body {
  margin: 0;
  background: #131316;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@import "fonts";

body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
}

